@charset "utf-8";
			::selection{
                                color:#A2A2DF;
                                background-color:#9292CF
                        }
			body{
				background-color:#2D2D5F;
				background-image:url(images/back.png);
				font-family:monospace;
				font-size:12px;
				color:#5D5D9F;
			}
			header{
				background-color:#2D2D5F;
				width:900px;
				height:200px;	
				float:left;
			}
			nav{
				background-color:#2D4D5F;
				float:left;
				width:300px;
				height:800px;
			}
			footer{
				height:200px;
				width:900px;
				background-color:#4D2D5F;
				float:left;
			}
			h1{
				font-family:monospace;
				color:#6D6D9F;
				font-size:81px;
				padding-top:42px;
			}
			h2{
				font-size:20px;
				margin-bottom:6px;
			}
			.container{
				background-color:#000;
				width:900px;
				height:1200px;
				margin-top:64px;
				margin-bottom:62px;
				margin-right:auto;
				margin-left:auto;
				border:4px solid #0D0D3F;
			}
			.main{
				background-color:#2D2D5F;
				height:800px;
				width:900px;
				float:left;
			}
			.article{
				background-color:#2D2D7F;
				float:left;
				height:792px;
				width:592px;
				padding:4px;
			}
			a:link{
				font-family:monospace;
				color:#8D8DAF;
			}
			a:visited{
				font-family:monospace;
				color:#7D7D9F;
			}
			a:hover{
				font-family:monospace;
				color:#6D6D9F;
				font-size:18px;
			}
			a:active{
				font-family:monospace;
				color:#5D5D8F;
			}
			li{
				font-size:16px;
			}
			.sale{
				background-color:#2D2D7F;
				width:100%;
				height:20%;
				float:right;
			}
			img{
				margin-right:4px;
				margin-left:4px;
			
				margin-bottom:2px;
			}
			p{
				font-size:15px;
				margin-top:6px;
			}
                        body, a, button, p, table, ul, ol, margin, padding, border{
                        cursor:url(../images/cursor.png);